.header-color{
  background: #c31432;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
weight:100%;




  
}

.landing-grid{
  background: #c31432;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height:100vh;
  text-align: center;
}

.avatar-img{
  height: 220px;
  margin: auto;
  border-radius: 10px;
}

.banner-text{
  background-color: black;
  opacity: .8;
  margin: auto;
  border-radius: 10px;
  width: 75%;
  text-align: center;
}

.banner-text h1{
  color: white;
  font-size: 66px;
  font-weight: bold;
  height: 40%;
}

.banner-text hr{
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;

}

.banner-text h2{
  color: white;
  font-size: 25px;
  font-weight: lighter;
  height: 40%;  
}